<!DOCTYPE html>
<html>
  <head>
    <title>BareBnb</title>
    <%= csrf_meta_tags %>
    <meta name="google-site-verification" content="TRbEF6W5lFY0WbbXkl60sV3eJukgR2m2MuDUerQHxBc" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render 'shared/navbar' %>
    <%= render 'shared/message' %>
    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
